@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #073050;
}

body {
    position: relative;
    min-height: 100vh;
}

.boat-list-item {
    list-style: none;
}

@media only screen and (min-width: 300px) {
    body {
        padding-bottom: 830px;
    }
}

@media only screen and (min-width: 1028px) {
    body {
        padding-bottom: 650px;
    }
}